.post{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
}
.post_inf{
    display: flex;
    align-items: center;
}
.post_inf > h5{
    margin-left: 10px;
    cursor: pointer;
    font-size: 13px;
}
.post_inf > h5:hover{
   text-decoration: underline;
}
.post_inf >small{
  margin-left: 10px;
}
.post_body{
    display: flex;
    flex-direction: column;
}
.post_body > .post_que{
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
}
.post_que>.post_btnanswer{
    margin-left: auto;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
   border-radius: 30px;
   padding: 10px;
}
.post_body > .post_que>p:hover{
 text-decoration: underline;
}
.post_body >img{
    object-fit:contain;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.post_footer{
   display: flex;
   align-items: center;
   margin-top: 10px; 
}
.post_footer > .MuiSvgIcon-root{
  color: gray;
  margin-right: 40px;
  cursor: pointer;
}
.post_footerAction{
    display: flex;
    justify-content: space-around;
    border-radius: 33px;
    padding: 5px;
    background-color: lightgray;
    align-items: center;
}
.post_footerAction > .MuiSvgIcon-root{
   color: gray;
   margin-right: 40px;
   cursor: pointer;
}
.post_footerAction > .MuiSvgIcon-root:hover{
   color: #8f1f18;;
   margin-right: 40px;
   cursor: pointer;
}
.post_footerLeft{
    margin-left: auto;
}
.post_footerLeft>.MuiSvgIcon-root{
    color: gray;
    cursor: pointer;
    margin-left: 30px;
}

