.quoraBox{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
   border: 1px solid lightgray;
   background-color: white;
   border-radius: 5px;
   cursor: pointer;
}

.quoraBox_inf{
    display: flex;
  align-items: center;
  padding: 10px;
   }

   .quoraAvtaar > .MuiAvatar-circular{
    background-color: purple;
    margin-right: 8px;
    width: 20px;
    height: 20px;
   }
   .quoraBox_inf > p {
   color: rgb(129, 129, 129);
   font-size: 13px;
   margin-right: 60%;
   }
   .quoraBox_quora{
       display: flex;
       margin-top: 8px;
       padding: 0px 10px; 
   }
   .quoraBox_quora > h5{
      color: gray;
      font-weight: bold;
      font-size: large;
    
   }
