/** @format */

.setUpContent {
  background-color: white;
  padding: 7px 20px;
  box-sizing: border-box;
  margin: 0px 22px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #dee0e1;
}
.setUpContent > div {
  border-bottom: 1px solid #dee0e1;
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  padding: 10px 0px;
  color: #282829;
}
.setUpContent > div:first-child {
  color: #282829;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1.5;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.4;
}
.tickBox > div:last-child {
  text-decoration: line-through;
  color: #939598;
}
.setUpContent input {
  height: 16px;
  width: 16px;
}
.setUpContent > div:last-child {
  border-bottom: none;
}
.setUpContent svg {
  fill: green;
  stroke-width: 2.1;
}