.sidebar_option {
  display: flex;
  flex-direction: column;
}
.sidebarOP {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebarOP:hover {
  background: rgb(211, 211, 211);
  border-radius: 5px;
}
.sidebarOP > img {
  height: 30px;
  border-radius: 5px;
  margin-left: 20px;
}

.sidebarOP > .MuiSvgIcon-root {
  font-size: medium;
  margin-left: 20px;
}
.sidebarOP > p {
  margin-left: 10px;
  color: gray;
  font-weight: 400;
  font-size: 13px;
}

.sidebarOP > .text {
  margin-left: 23px;
  color: gray;
  font-weight: 400;
  font-size: 13px;
}
.Last_div{
  display: flex;
  flex-direction: column;
  color: rgb(148, 145, 145);
  padding-left: 30px;
}
.line{
  color: rgb(238, 238, 238);
}
.Last_div>h6{
   cursor: pointer;
}
.Last_div>h6:hover{
  text-decoration: underline;
}


