.widget {
  flex:0.1;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  max-height: 100vh;
  width: 280px;
  background-color: white;
}

.widget_header {
  border-bottom: 1px solid lightgray;
}

.widget_header > h5 {
  padding: 0px 5px;
  color: rgb(80, 80, 80);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1.3;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.widget_contents {
  display: flex;
  flex-direction: column;
}