.widget12 {
  flex: 0.5;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  max-height: 85vh;
  background-color: white;
}
#followimg{
  height:150px;
  width:200px;
}
.widget_header {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.widget_header > h4 {
  
  color: rgb(51, 48, 48);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.1px;
  margin-top: 20px;
}

.widget__contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}